# Node / Nest
node_modules
dist/
coverage/



# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs / lock files
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Optional: compiled files
*.js
*.js.map
