@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

html, body, #root {
  height: 100%;
}

body {
  font-family: var(--font-sans);
  background-color: #f5f7fa;
}
